<h3>Edit your service</h3>
<form method="/services/<%= @service_to_update.id %>">
  <input type="text" name="title" value="<%= @service_to_update.title %>">
  <input type="text" name="description" value="<%= @service_to_update.description %>">
  <input type="text" name="contact_info" value="<%= @service_to_update.contact_info %>">
  <input type="text" name="category_id" value="<%= @service_to_update %>">
  <input type="text" name="user_id" value="<%= @service_to_update %>">
</form>
